.weatherPage{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;   
    background-color: rgba(0, 0, 0, 0.9);
}
form .btn-primary{
    right: 5px;
    top:10px;
    bottom: 10px;
}
.clr{
    clear: both;
}
#degree{
    font-weight: bolder;
    font-size: 80;
}
#degree img{
    width: 100px;
}